version: '3'

services: 
  db: 
    image: postgres:14.3
    restart: always
    ports:
      - "5434:5432"
    environment:
      POSTGRES_PASSWORD: postgres  
      POSTGRES_DB: examen2
    container_name: dev-estudio-parcial2
    volumes:
      - ./postgres:/var/lib/postgresql/data
